html {
    font-size: 2vh;
    font-family: 'Raleway', sans-serif;
}

.card {
    background-color: #496985;
}

.btn {
    position: fixed;
    top: .7vh;
}

.btn:focus {
    box-shadow: none;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

#next {
    right: 10vw;
}

#previous {
    left: 10vw;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
  
#monthAndYear {
    text-align: center;
}

thead {
    color: darkturquoise;
}

.today {
    background-color: rgb(70, 133, 117);
    color: black;
}

td {
    color: rgb(131, 210, 255);
    text-align: right;
    height: 12vh;
    width: 13.5vw;
}

td.day:hover {
    border: 3px solid rgb(53, 49, 49);
    box-shadow: .4vw .4vw #1c2c3d;
}

#focus-parent {
    position: absolute;
    height: 99vh;
    width: 99vw;
    z-index: -90;
}

.focus {
    border: .16vw solid rgb(44, 43, 43);
    box-shadow: .4vw .4vw #1c2c3d;    
    background-color: #343a40;
    color: rgb(131, 210, 255);
    border-radius: 1%;
    transition: 2.0s;
    font-size: 1.5em;
    position: fixed;
    color: white;
    height: 65vh;
    width: 70vw;
    z-index: 10;
    left: 16vw;
    top: 2vh;
}

.focus-start {
    background-color: #343a40;
    color: rgb(131, 210, 255);
    border-radius: 2%;
    transition: 2.0s;
    font-size: .2em;
    position: fixed;
    color: white;
    height: 1vh;
    width: 1vw;
}

.focus > * {
    margin: 10px;
}
